In [30]:
import os
import pandas as pd
import numpy as np

# Get data
parent = os.path.dirname(os.getcwd())
dataPath = os.path.join(parent, 'Data/Breastcancer/breast-cancer-wisconsin.data')

df = pd.read_csv(dataPath, header=None)
df.columns = ['SampleCodeNumber','ClumpThickness','UniformityOfCellSize','UniformityOfCellShape', 
                'MarinalAdhesion', 'SingleEpithelialCellSize','BareNuclei','BlandChromatin',
                'NormalNucleoli','Mitosis','Class']

In [19]:
df.head()

,SampleCodeNumber,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarinalAdhesion,SingleEpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitosis,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [20]:
df.shape

(699, 11)

In [21]:
df.dtypes

SampleCodeNumber             int64
ClumpThickness               int64
UniformityOfCellSize         int64
UniformityOfCellShape        int64
MarinalAdhesion              int64
SingleEpithelialCellSize     int64
BareNuclei                  object
BlandChromatin               int64
NormalNucleoli               int64
Mitosis                      int64
Class                        int64
dtype: object

In [22]:
df.describe()

,SampleCodeNumber,ClumpThickness,UniformityOfCellSize,UniformityOfCellShape,MarinalAdhesion,SingleEpithelialCellSize,BlandChromatin,NormalNucleoli,Mitosis,Class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [31]:
df.replace(to_replace='?', value=np.NaN, inplace=True)

In [32]:
df.isnull().sum()

SampleCodeNumber             0
ClumpThickness               0
UniformityOfCellSize         0
UniformityOfCellShape        0
MarinalAdhesion              0
SingleEpithelialCellSize     0
BareNuclei                  16
BlandChromatin               0
NormalNucleoli               0
Mitosis                      0
Class                        0
dtype: int64

In [35]:
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- SampleCodeNumber ---
1182404    6
1276091    5
1198641    3
1114570    2
704097     2
          ..
1272166    1
1347943    1
1105257    1
1321348    1
785208     1
Name: SampleCodeNumber, Length: 645, dtype: int64
---- ClumpThickness ---
1     145
5     130
3     108
4      80
10     69
2      50
8      46
6      34
7      23
9      14
Name: ClumpThickness, dtype: int64
---- UniformityOfCellSize ---
1     384
10     67
3      52
2      45
4      40
5      30
8      29
6      27
7      19
9       6
Name: UniformityOfCellSize, dtype: int64
---- UniformityOfCellShape ---
1     353
2      59
10     58
3      56
4      44
5      34
6      30
7      30
8      28
9       7
Name: UniformityOfCellShape, dtype: int64
---- MarinalAdhesion ---
1     407
2      58
3      58
10     55
4      33
8      25
5      23
6      22
7      13
9       5
Name: MarinalAdhesion, dtype: int64
---- SingleEpithelialCellSize ---
2     386
3      72
4      48
1      47
6      41
5      39
10     31
8      21
7      12
9       2
Name: SingleEpithelialCellSize, dtype: int64
---- BareNuclei ---
1     402
10    132
2      30
5      30
3      28
8      21
4      19
9       9
7       8
6       4
Name: BareNuclei, dtype: int64
---- BlandChromatin ---
2     166
3     165
1     152
7      73
4      40
5      34
8      28
10     20
9      11
6      10
Name: BlandChromatin, dtype: int64
---- NormalNucleoli ---
1     443
10     61
3      44
2      36
8      24
6      22
5      19
4      18
7      16
9      16
Name: NormalNucleoli, dtype: int64
---- Mitosis ---
1     579
2      35
3      33
10     14
4      12
7       9
8       8
5       6
6       3
Name: Mitosis, dtype: int64
---- Class ---
0    458
1    241
Name: Class, dtype: int64

In [34]:
df['Class'] = np.where(df['Class'] == 2, 0, df['Class'])  # Change to 0 if 2, otherwise leave as is
df['Class'] = np.where(df['Class'] == 4, 1, df['Class'])  # Change to 1 if 4, otherwise leave as is